<div class="pt-4">
  <div class="py-2">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Search animal</label
    >
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:border-blue-500"
      [(ngModel)]="filterText"
    />
  </div>

  <app-list
    *ngIf="isLoading$; else loading"
    [animals]="animals$ | async | animalsFilter : filterText"
  />
  <ng-template #loading>Loading...</ng-template>
</div>
